* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #252525;
    color: #fff;
}
.primary-bg-color {
    background-color: #252525;
}
.destaque{
    background-color: #0D0D0D;
}
.secondary-bg-color {
    background-color: #976df2;
}
.light-bg-color {
    background-color: #FCF5EB;
}
.dark-bg-color{
    background-color: #0D0D0D;
}

.primary-color {
    color: #976df2;
}
.secondary-color{
    color: #F2F2F2;
}
.light-color{
    color: #FCF5EB;
}

/* Estilos para a barra de navegação (navbar) */

#navbar .navbar-nav{
    flex-direction: row;
    justify-content: flex-end;
}
/* Define margem à esquerda para os itens da barra de navegação */
#navbar .navbar-nav li{
    margin-left: 1em;
}
/* Define a cor do texto e links na barra de navegação */
#navbar a,
#navbar button{
    color: #fff;
}

/* Ajusta a posição dos itens da barra de navegação */
#navbar li{
    position: relative;
}

/* Define estilo para ícones na barra de navegação */
#navbar i{
    font-size: 20px;
}

/* Define estilo de cor quando o mouse passa sobre os ícones */
#navbar i:hover {
    color: #976df2;
}

/* Define estilo para caixa com número (ex: quantidade de itens) */
#navbar span{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EF3636;
    text-align: center;
}

/* Posiciona a caixa com número no item de sacola de compras */
#bag-item span{
    left: 20px;
}

/* Estilos para marca/logo na barra de navegação */
.navbar-brand{
    font-weight: 700;
    width: 100%;
    text-align: center;
}

/* Estilo de hover para links 'sobre'  */
.sobre a:hover {
    color: #0d0d0d !important; /* Importante para sobrepor outros estilos */
}

/* Ajusta estilo quando a largura de tela é mairo que 768px */
@media(min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }
}

/* Ajusta espaçamento entre itens da barra de navegação */
#navbar-items {
    justify-content: space-between;
}

/* Ajusta espaçamento quando alargura da tela é maior que 768px */
@media(min-width: 768px) {
     #navbar-items {
        display: flex;
        min-width: 80%;
     }
}

/* Estilos para formulário de busca e newsletter */
#search-form,
#news-form {
    width: 100%;
    margin: 2em 0;
}

/* Ajusta largura e margem quando a largura da tela é maior que 768px */
@media(min-width: 768px) {
    #search-form,
    #news-form {
        width: 50%;
        margin: 0;
    } 
}

/* Estilos para campos de input em formulários */
#search-form input,
#news-form input {
    border: 2px solid #F2F2F2;
    border-radius: 3px;
    padding: 5px 15px;
}

/* Estilos para campos de input quando focados */
#search-form input,
#news-form input:hover {
    background-color: transparent;
    border: none;
    color: #FFF;
}

/* Estilos para campos de input quando focados */
#search-form input:focus,
#news-form input:focus {
    box-shadow: none;
}

/* Estilos para placeholders em compos de input */
#search-form input::placeholder,
#news-form input::placeholder {
    color: #FFF;
}

/* _______________________________________________ */
/* Estilos para a barra de navegação inferior (bottom-navbar) */

/* Ajustra a posição dos itens na barra de navegação inferior */
#bottom-navbar-container a {
    color: #FFF;
    font-weight: 600;
}

/* Define tamanho do ícone do botão para mostrar/esconder o menu */
.navbar-toggler {
    font-size: 1.5em;
}


